@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 7px;
  background-color: rgb(18, 18, 19);
}

::-webkit-scrollbar-thumb{
  background-color: black;
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgb(9, 9, 14);
}

body{
  background: black;
  scroll-behavior: smooth;
}

*{
  background: transparent;
}

.landing-bg{
    --dot-bg: black;
    --dot-color: #ffffff40;
    --dot-size: 1px;
    --dot-space: 22px;
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color);
      background-attachment: fixed;
}

.title{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-overlay{
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
