@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 7px;
	background-color: rgb(18, 18, 19);
}

::-webkit-scrollbar-thumb {
	background-color: black;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(9, 9, 14);
}

body {
	background: black;
	scroll-behavior: smooth;
}

* {
	background: transparent;
}

.landing-bg {
	background-attachment: fixed;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.1) 0.01em,
			transparent 0.1em
		),
		linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0.01em, transparent 0.1em);
	background-size: 1.75em 1.75em;
}

.title {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-overlay {
	clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.process {
	width: 400%;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-ms-flex-item-align: center;
	align-self: center;
	/* height: 100vh !important; */

	&__item {
		display: flex;
		align-items: center;
		padding: 0 100px;
	}
}

.left-image{
	clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

.right-image{
	clip-path: polygon(0 0, 0% 0, 00% 0, 00% 0);
}

a{
	transition: color 0.3s;
}